<div class="container">
  <po-container class="po-xl-4">
    <h2>DeusMelivery</h2>
    <form [formGroup]="formLogin">
      <po-login #login class="po-lg-12" name="login" formControlName="login"></po-login>
      <po-password #pass class="po-lg-12" name="password" formControlName="password"></po-password>
    </form>
    <po-button class="po-lg-12" p-label="Login" p-kind="primary" (p-click)="this.loginSubmit()"></po-button>
    <br>
    <!-- Texto clicável para abrir modais -->
    <span class="custom-link" data-toggle="modal" data-target="#forgotPasswordModal" (click)="passwordRecoveryModal.open()">Esqueceu sua senha?</span>
    <br>
    <span class="custom-link" data-toggle="modal" data-target="#registerModal" (click)="modalNewUser.open()">Novo Registro</span>
  </po-container>
</div>

<po-modal-password-recovery #passwordRecoveryModal></po-modal-password-recovery>

<po-modal #modalNewUser p-click-out="true" p-size="md" p-title="Cadastro de Usuário">
  <ng-container>
    <app-form-users></app-form-users>
  </ng-container>
</po-modal>


