<div class="po-wrapper" >
  <po-toolbar [p-title]="title"></po-toolbar>

  <po-menu 
    [p-filter]="true"
    [p-collapsed]="true"
    [p-menus]="menus"
    [p-automatic-toggle]="true">
  </po-menu>
  <div *p-menu-header-template class="po-p-2 po-font-title sample-menu-header-text-color">
    <p>Welcome,</p>
    <p>
      <b> John Doe </b>
    </p>
  </div>
  <router-outlet></router-outlet>
  <po-toolbar p-title="DeusMelivery" [p-show-notification]="false"></po-toolbar>
</div>

<!-- <ng-container *ngIf="!this.loginService.autenticado">
  <app-login></app-login>
</ng-container> -->