<app-login *ngIf="!loginService.autenticado"></app-login>
<div *ngIf="loginService.autenticado">
    <div class="po-wrapper">
        <span *ngIf="!this.isCleanWindow">
            <po-toolbar *ngIf="loginService.autenticado" [p-profile]="this.profile"
                [p-title]="this.titleAppCom" [p-profile-actions]="this.profileactions"></po-toolbar>
        </span>

        <po-menu 
          [p-menus]="this.menus" 
          p-collapsed  
          p-filter 
          p-automatic-toggle="false">
        </po-menu>

        <router-outlet></router-outlet>
    </div>
</div>