<po-page-default p-title="Produtos">
    <div class="po-row">
        <po-widget
          class="po-lg-6 po-mt-2"
          p-background=""
          p-height="210"
          p-primary-label="Ver mais"
          p-title="Promocional"
        >
        </po-widget>
      
        <po-widget
          class="po-lg-6 po-mt-2"
          p-height="210"
          p-primary-label="Ver mais"
          (p-primary-action)="goToProducts()"
          p-title="Cervejas"
        >
        <div class="po-font-subtitle po-text-center">22</div>
        <div class="po-text-center">poucas unidades de Heineken...</div>
        </po-widget>
    </div>
    <div class="po-row">
        <po-widget
          class="po-lg-6 po-mt-2"
          p-height="210"
          p-primary-label="Ver mais"
          (p-primary-action)="goToProducts()"
          p-title="Sucos"
        >
        <div class="po-font-subtitle po-text-center">10</div>
        </po-widget>
        <po-widget
          class="po-lg-6 po-mt-2"
          p-height="210"
          p-primary-label="Ver mais"
          (p-primary-action)="goToProducts()"
          p-title="Refrigerantes"
        >
        <div class="po-font-subtitle po-text-center">15</div>
        <div class="po-text-center">poucas unidades de Pureza e Coca-Cola...</div>
        </po-widget>
    </div>
</po-page-default>