<po-page-default p-title="Pedidos">
    <po-table
  p-container="border"
  [p-height]="400"
  [p-hide-batch-actions]="false"
  [p-hide-table-search]="false"
  [p-sort]="true"
  [p-actions-right]="true"
  [p-actions]="actions"
  [p-striped]="true"
  [p-columns]="columns"
  [p-items]="items || []"
>
</po-table>

<po-modal #modalConfirm p-title="" p-size="sm">
  <div class="po-modal-body">
    {{ modalMessage }}
  </div>
  <po-modal-footer>
    <po-button p-label="Cancelar" (p-click)="modalConfirm?.close()"> </po-button>
    <po-button p-label="Confirmar" p-kind="primary" (p-click)="confirmDelete()"> </po-button>
  </po-modal-footer>
</po-modal>
</po-page-default>