<po-page-default p-title="Pedidos">
    <po-table
  [p-container]="true"
  [p-height]="400"
  [p-hide-batch-actions]="false"
  [p-hide-table-search]="false"
  [p-selectable]="true"
  [p-sort]="true"
  [p-striped]="true"
  [p-columns]="columns"
  [p-items]="items"
  [p-max-columns]="7"
  (p-selected)="sumTotal($event)"
  (p-unselected)="decreaseTotal($event)"
>
</po-table>

<po-divider></po-divider>

<po-info
  class="po-md-6 po-mb-sm-2 po-mb-md-2 po-lb-lg-2"
  p-label="Total"
  p-orientation="horizontal"
  p-value="{{ total | currency: 'BRL' }}"
>
</po-info>
</po-page-default>